@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: 'Medium'; /* Choose a descriptive name for your font */
    src: url('styleassets/medium.otf') format('opentype'); /* Specify the path and format */
    font-weight: normal; /* Define the weight (normal, bold, etc.) */
    font-style: normal; /* Define the style (normal, italic, etc.) */
}

body {
  background-color: black;
}

h1, h2, h3 {
  font-family: "Medium", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;  
  color: #FD2025;
  margin-left: 4%;
  margin-right: 4%;
}

p {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;  
  color: white;
  margin-left: 4%;
  margin-right: 4%;
}

/* Add a black background color to the top navigation */
.topnav {
background-color: black;
overflow: hidden;
}
  
  /* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #FD2025;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
  background-color: black;
  color: white;
}
  
/* Add a color to the active/current link */
.topnav a.active {
  background-color: black;
  color: #FD2025;
}
