@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: 'Medium'; /* Choose a descriptive name for your font */
    src: url('medium.otf') format('opentype'); /* Specify the path and format */
    font-weight: normal; /* Define the weight (normal, bold, etc.) */
    font-style: normal; /* Define the style (normal, italic, etc.) */
}

body {
  background-color: black;
}

h1, h2, h3 {
  font-family: "Medium", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;  
  color: #FD2026;
  margin-left: 4%;
  margin-right: 4%;
}

p {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;  
  color: white;
  margin-left: 4%;
  margin-right: 4%;
}

a {
  color: #FD2026;
}

.icon-left {
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 2%;
  margin-right: 1%;
  margin-top: 2px;
}

.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-float-center {
  display: inline-block;
  text-align: center
}

/* Add a black background color to the top navigation */
.topnav {
background-color: black;
overflow: hidden;
}
  
  /* Style the links inside the navigation bar */
.topnav h1{
  float:left
}

.topnav h2{
  float:right
}

.topnav a {
  color: #FD2025;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
  background-color: black;
  color: white;
}
  
/* Add a color to the active/current link */
.topnav a.active {
  background-color: black;
  color: #FD2025;
}

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "content content"
    "footer footer";
  height: auto;
  max-width: 75vw;
  margin-left: auto;
  margin-right: auto;    
  box-sizing: border-box;
  align-content: start;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;  
  gap: 5px;
  background-color: ;
  padding: 5px;
}

.container > div {
  background-color: rgba(255, 255, 255, 0);
  padding: 0px;
}
.container > div.header {
  grid-area: header;
  text-align: center;
}
.container > div.content {
  grid-area: content;
  text-align: center;
}
.container > div.footer {
  grid-area: footer;
  text-align: center;
}
